{% load cms_tags sekizai_tags menu_tags %}

{% addtoblock "css" %}<link href="{{STATIC_URL}}css/mainrhd_style.css" rel="stylesheet" type="text/css" />{% endaddtoblock %}
{% addtoblock "js" %}
 <script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
{% endaddtoblock %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
{%if   request.LANGUAGE_CODE == "ru" %}
{{title_ru}}
{%else%}
{{title_en}}
{%endif%}
</title>

{%if   request.LANGUAGE_CODE == "ru" %}
<meta name="keywords" content="Garden Template, Free Layout, CSS, HTML, green, light blue, white" />
{%else%}
<meta name="keywords" content="Garden Template, Free Layout, CSS, HTML, green, light blue, white" />
{%endif%}

{%if   request.LANGUAGE_CODE == "ru" %}
<meta name="description" content="Garden Template is a free CSS layout provided by mainrhd.com" />
{%else%}
<meta name="description" content="Garden Template is a free CSS layout provided by mainrhd.com" />
{%endif%}


{% render_block "css" %}
{% render_block "js" %}
</head>

<body>

<div id="mainrhd_site_title_bar_wrapper">
	<div id="mainrhd_site_title_bar">
        <div id="toright"> 
 	{% language_chooser "cms/plugins/language_chooser.html" %}
	</div>

        <div id="site_title">
            <h1><a href="{{DOMAIN}}" target="_parent">
			{%if request.LANGUAGE_CODE == "ru" %}
            <img src="{{STATIC_URL}}images/logo_ru.png" alt="День рододендрона" />
			{%else%}
			<img src="{{STATIC_URL}}images/logo_en.png" alt="Rhododendron Day Festival" />
			{%endif%}
            <!-- <span>your tagline goes here</span> -->
            </a></h1>
        </div>

    </div> <!-- end of mainrhd_site_title_bar -->
</div> <!-- end of mainrhd_site_title_bar_wrapper -->

<div id="mainrhd_menu_wrapper">
	<div id="mainrhd_menu">
   		<ul>
		{%if request.LANGUAGE_CODE == "ru" %}
            <li><a href="/" >Домой</a></li>
            <li><a href="/gallery">Фотогалерея</a></li>
            <li><a href="/contacts">Контакты</a></li>
		{%else%}
            <li><a href="/" class="current">Home</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contacts" class="last">Contacts</a></li>
		{%endif%}
        </ul>     
    </div> <!-- end of mainrhd_menu -->
</div><!-- end of mainrhd_menu_wrapper -->


<div id="mainrhd_content_outter_wrapper">
<div id="mainrhd_content_inner_wrapper">
	<div id="mainrhd_content_wrapper">
	<div id="mainrhd_content">

{%block maincontent%}




{%endblock%}

 <div id="content_column">
	{%block  contentcol%}
	
	{%endblock%}

        <div class="cleaner"></div>
	</div>


	<div class="cleaner"></div>
    </div>

</div>
</div>





</div>

<div class="cleaner"></div>

<div id="mainrhd_footer_wrapper">
	<div id="mainrhd_footer">

{%if   request.LANGUAGE_CODE == "ru" %}
        День рододендрона © 2012 | <a href="http://botsad.ru">Ботанический сад-институт ДВО РАН</a>
{%else%}
        Rhododendron Day © 2012 | <a href="http://botsad.ru">Botanical garden-institute FEB RAS </a>
{%endif%}

    </div>

</div> <!-- end of mainrhd_footer_wrapper -->

</body>
</html>