{% extends "base.html" %}
{% load cms_tags sekizai_tags menu_tags %}

{%block maincontent%}
    	<div id="sidebar">
       	  <div class="sidebar_section">
          {% if request.LANGUAGE_CODE == "ru" %}
            <h2> Меню </h2>
		<ul class="category_list">
                <li><a href="/positions"> Основные положения </a></li>
		<li><a href="/rules"> Представление работы </a></li>
                </ul>
		{% else %}
			<h2> Info </h2>
			  <ul class="category_list">
                  <li><a href="/positions">Basic positions</a></li>
                  <li><a href="/rules">Present a work</a></li>
              </ul>
		{%endif%}
			</div>  
	
	<div class="sidebar_section">
          	{% if request.LANGUAGE_CODE == "ru" %}
		<h2> Фотогалерея </h2>
		{% else %}
		<h2> Gallery </h2>
		{%endif%}
			<!--  За последние года  -->
	<ul class="category_list">
		{%placeholder service_years%}
        </ul>
	</div>

	<div class="cleaner"></div>

	</div> <!-- end of  sidebar -->
{%endblock%}

{%block  contentcol%}
	 <div class="section_w500">
	{%placeholder mainpagecontent%}	
	 </div>


 <div class="section_w500">
	{% if request.LANGUAGE_CODE == "ru" %}
        <h2> Случайные фотографии </h2>
	{% else %}
	<h2> Random Photo </h2>
	{%endif%}
	<ul class="gallery">
	{%placeholder service_photos%}
	<li><a href="#"><img src="photos/{{k.year}}/{{k.name}}" alt="{{k.description}}"/></a></li>
	</ul>
</div>  

{%endblock%}